html,body {
   all: unset;
   height: 100%;
   width: 100%;
  -webkit-appearance: unset;
  -webkit-border-radius: unset;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #d6a087;
}



button, label, input {
  font-size: 3.5vw;
  padding: 0;
  border-radius: 5px;
}

button, input {
  box-shadow: 2px 2px 2px lightgray;
  background-color: rgba(255, 255, 255, 0.4);
}

button {
  padding-bottom: 2px;
}

input {
  height: 7vw;
  padding: 2px;
}

nav {
  margin: 10px 10px 0 10px;
  display: flex;
  flex-direction: row;
}

#menu-button {
  width: 30vw;
  margin: 5px;
}

.language-button {
  margin: 5px;
  width: 8vw;
}

#nav-spacer {
  flex: 1;
}

menu {
  /*background-color: lightgreen;*/
  height: fit-content;
  border: 1px solid black;
  border-radius: 5px;

  padding: 10px;
  margin: 5px 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  display: flex;

}

menu > button {
  width: 80vw;
  margin: 5px;
}

#flex-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#presets-section {
  width: available;
  height: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#presets-section > div {
  margin: 10px;
  width: 1080px;
  height: 45vw;
  display: flex;
  flex-direction: column;
}

#presets-container {
  /*background-color: lightcoral;*/
  border: 1px solid black;
  border-radius: 5px;
  overflow-y: scroll;
}

#presets-container > button {
  margin: 4px 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#presets-menu {
  /*background-color: brown;*/
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
}

#presets-menu > button, input {
  width: 80%;
}

#presets-menu > *:not(:last-child) {
    margin-bottom: 10px;
}

#side-switch-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.arrow-button {
  margin: 5px;
  width: 10vw;
  height: 5vw;
}

#registers-flex {
  /*background-color: aqua;*/
  border: 1px solid black;
  border-radius: 5px;
  width: available;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 0;
  padding: 0;
  margin: 15px;
  background-image: url("../images/perpetum-debile.png");
}

#left-side {
  display: grid;
}

#right-side {
  display: none;
}

.div-line{
  display: none;
}

.register-panel {
  padding: 10px;
  /*background-color: #c47373;*/
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.25fr 1fr;
  display: grid;
  max-width: 1100px;
  max-height: 1550px;

  column-gap: 13px;
  row-gap: 18px;
}

#left-side {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: right;
}

#right-side {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: left;
}

.handle-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  min-height: 0;
}

.knob {
  width: 100%;
  aspect-ratio : 1 / 1;
  font-size: 8vw;
  text-align: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  border: none;

  // animation
  transition-property: background-image transform;
  transition-duration: .3s;
}

.knob[state="off"] {
 transform: scale(80%);
}

.handle-div > label {
  height: 7vw;
  font-size: 2.75vw;
  word-wrap: break-word;
  background: rgb(20, 20, 20);
  color: rgb(218,165,32);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2px 1px;
}


#coples {
  /*background-color: #607c58;*/
  width: fit-content;
  height: 90vw;
  padding-top: 40px;
  padding-bottom: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cople-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-width: 0;
  min-height: 0;
  padding: 10px;
  margin: 0 5px;
}

.cople-div > button {
  width: 10vw;
  height: 10vw;
  text-align: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none;
  border: none;
}

.cople-div > label {
  height: 4vw;
  font-size: 2.75vw;
  word-wrap: break-word;
  background: rgba(255, 255, 255, 0.65);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2px 2px;
}

.cople-spacer {
    flex: 1;
}

@media screen and (min-width:900px) {
  .handle-div > label {
    font-size: 3.25vw;
  }
}

@media screen and (min-width:1100px) {
  #side-switch-div {
    display: none;
  }

  menu {
    display: none;
    margin: 10px;
    width: 14vw;
    padding: 5px 0;
  }

  menu > button {
    width: 12vw;
  }

  #menu-button {
    width: 14vw;
    margin: 0
  }

  .language-button {
    margin: 5px;
    width: 3vw;
  }

  input {
    height: 2vw;
  }

  #flex-container {
    flex-direction: row;
    align-content: center;
  }

  .div-line{
    border-left: 1px solid black;
    border-bottom: 0;
    height: 90vh;
    width: 1px;
  }

  #presets-section {
    flex-direction: column;
    justify-items: end;
    width: 15vw;
    height: 75vw;
  }

  #presets-section > div {
    width: 14vw;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    /*min-height: 300px;*/
  }

  #presets-container {
    min-height: 25vh;
    flex: 1;
  }

  button, label, input {
    font-size: 1.2vw;
  }

  #left-side {
    display: grid;
  }
  #right-side {
    display: grid;
  }

  #registers-flex {
    flex-direction: row;
    justify-content: center;
    max-height: 70vw;
  }

  .register-panel {
    width: 35vw;
    row-gap: 7px;
  }

  #coples {
    padding: 0 5px;
    width: fit-content;
    height: 70vw;
    flex-direction: column;
  }

  .cople-spacer {
    flex: 1;
  }

  .cople-div {
    padding: 5px;
    height: 12vh;
    justify-content: center;
    margin: 15px 0;
  }

  .cople-div > button {
    width: 6vw;
    height: 6vw;
    font-size: 3vw;
  }

  .handle-div > button {
    font-size: 3vw;
  }

  .cople-div > label {
    font-size: 1.3vw;
    height: 3.2vw;
  }

  .handle-div > label {
    font-size: 1.3vw;
    height: 3.6vw;
  }
}

@media screen and (min-width:1600px) {
  button, label, input {
    font-size: 19px;
  }

  .register-panel {
    width: 36vw;
  }

  .cople-div > button {
    font-size: 50px;
  }

  .handle-div > button {
    font-size: 50px;
  }

  .cople-div > label {
    font-size: 19px;
    height: 2.8vw;

  }

  .handle-div > label {
    font-size: 19px;
    height: 60px;

  }

  #registers-flex {
    flex-direction: row;
    justify-content: center;
    max-height: 90vh;
  }

  #coples {
    height: 90vh;
  }

  #presets-section {
    height: 95vh;
  }
}

