.state-switch > input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.state-switch > label {
  cursor: pointer;
  text-indent: -9999px;
  width: 120px;
  height: 48px;
  background: #efcac2;
  display: block;
  border-radius: 120px;
  position: relative;
}

.state-switch > label:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 36px;
  height: 36px;
  background: #fff;
  border-radius: 108px;
  transition: 0.3s;
}

.state-switch > input:checked + label {
  background: #ebcc30;

}

.state-switch > input:checked + label:after {
  left: calc(100% - 6px);
  transform: translateX(-100%);
}

.state-switch > label:active:after {
  width: 66px;
}
