html,body {
   all: unset;
   height: 100%;
   width: 100%;
}

button, label, input {
  font-size: 40px;
}

input {
  height: 51px;
}

nav {
  margin: 10px 10px 0 10px;
}

nav > button {
  width: 30vw;
  margin: 5px;
}

menu {
  background-color: lightgreen;
  height: fit-content;


  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  display: flex;

}

menu > button {
  width: 80vw;
  margin: 5px;
}

#flex-container {
  display: flex;
}

#presets-section {
  width: available;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#presets-section > div {
  margin: 10px;
  width: 1080px;
  height: 450px;
  display: flex;
  flex-direction: column;
}

#presets-container {
  background-color: lightcoral;
  overflow-y: scroll;
}

#presets-container > button {
  margin: 4px 15px;
}

#presets-menu {
  background-color: brown;
  align-items: center;
  justify-content: center;
}

#presets-menu > button, input {
  width: 40vw;
}

#presets-menu > *:not(:last-child) {
    margin-bottom: 10px;
}

#registers-flex {
  background-color: aqua;
  width: available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  column-gap: 160px;
  padding: 10px;

}



.register-panel {
  background-color: #c47373;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 0.25fr 1fr;
  display: grid;

  column-gap: 20px;
  row-gap: 20px;
}

#left-side {
  grid-column-start: 1;
  grid-column-end: 2;
  justify-content: right;
}

#right-side {
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: left;
}

.handle-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  min-height: 0;
}

.handle-div > button {
  width: 100%;
  aspect-ratio : 1 / 1
}

.handle-div > label {
  height: 80px;
  font-size: 32px;
  text-align: center;
  word-wrap: break-word;
}

#coples {
  background-color: #607c58;
  height: fit-content;
  width: 100%;
  padding-top: 40px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cople-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  margin: 10px
}

.cople-div > button {
  width: 30vw;
  height: 10vw;
}

.cople-div > label {
  height: 80px;
  font-size: 32px;
  text-align: center;
  word-wrap: break-word;
}