:root {
    --base-unit: 18px;
    --2-base-unit: calc(var(--base-unit) * 2);
    --3-base-unit: calc(var(--base-unit) * 3);
    --10-base-unit: calc(var(--base-unit) * 10);;
    --12-base-unit: calc(var(--base-unit) * 12);;
    --7-base-unit: calc(var(--base-unit) * 7);;
    --1p8-base-unit: calc(var(--base-unit) * 1.8);;
    --1p5-base-unit: calc(var(--base-unit) * 1.5);;
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}
tr {
    height: var(--base-unit);
}
th {
    width: var(--2-base-unit);
}

hr {
    width: 100%;
    height: 1px;
    background-color: #333; /* Modern Browsers */
}

.section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preset-name {
    font-size: var(--1p5-base-unit);
}

.preset-container {
    margin: var(--2-base-unit) var(--base-unit) var(--base-unit) var(--base-unit);
    display: flex;
    flex-direction: row;
}

.register-panel {
    width: var(--12-base-unit);
}

#left-side > .positiv {
    width: var(--10-base-unit);
    margin-right: var(--2-base-unit);
}

#right-side > .positiv {
    width: var(--10-base-unit);
    margin-left: var(--2-base-unit);
}

.main-registers {
    width: var(--12-base-unit);
}

.cople-panel {
    width: var(--2-base-unit);
    margin: var(--7-base-unit) var(--2-base-unit) var(--base-unit) var(--2-base-unit);
}

.cople-panel > table {
    width: var(--2-base-unit);
}

.positiv-spacer {
    width: var(--12-base-unit);
    height: var(--1p5-base-unit);
}

.handle-label {
    height: var(--1p8-base-unit);
    width: var(--1p8-base-unit);
    text-align: center;
    font-size: var(--base-unit);;
    display: table-cell;
    vertical-align: middle;
}



